<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' ) }}">
</head>

<body>
    <nav class="fixed p-4 grid grid-cols-9">
        <div class="col-start-2 col-span-5">
            <a class="site-name text-xl me-5" href="{{ url_for('landing_page') }}">Social Snake</a>
            <a class="nav-link text-xl" href="{{ url_for('landing_page') }}">Home</a>
            <a class="nav-link text-xl" href="#">Recent</a>
        </div>
        <div class="text-right col-start-7 col-span-2">
            <a class="nav-link text-xl" href="{{ url_for('auth.login') }}">Login</a>
        </div>
    </nav>


    <div class="main-container grid grid-cols-12">
        <main
            class="lg:col-start-3 lg:col-span-8 md:col-start-2 md:col-span-10 sm:col-start-1 sm:col-span-12 mx-3 p-3 text-lg">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="mb-6">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {% block main %} {% endblock main %}
        </main>
    </div>
</body>

</html>
