<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' ) }}">
</head>

<body class="grid grid-rows-2 grid-cols-12">
    <nav class="fixed p-4 col-span-12 grid grid-cols-7">
        <div class="col-start-2 col-span-5">
            <span class="site-name text-xl me-5">Social Snake</span>
            <a class="text-xl" href="#">Home</a>
            <a class="text-xl" href="#">Recent</a>
            <a class="text-xl" href="#">More Stuff</a>
        </div>
    </nav>

    <main class="row-start-2 row-span-1 col-start-3 col-span-8 mt-5 mx-3 p-3 text-lg drop-shadow-lg rounded-xl">
        {% block main %} {% endblock main %}
    </main>
</body>

</html>
