{% extends 'base.html' %}

{% block title %}
    {{ lb_name }} Leaderboards
{% endblock title %}

{% block main %}
    <h1 class="text-2xl">{{ lb_name }} Leaderboards</h1>

    <div class="flex gap-1 text-center my-4 px-1 py-1 bg-[var(--night)] rounded-xl">
        <a href="{{ url_for('leaderboard.global_lb') }}" class="w-full py-1 rounded-lg transition-colors {% if lb_name != 'Global' %}hover:{% endif %}bg-[var(--gunmetal)]">
            Global
        </a>
        <a href="{{ url_for('leaderboard.friends_lb') }}" class="w-full py-1 rounded-lg transition-colors {% if lb_name != 'Friends' %}hover:{% endif %}bg-[var(--gunmetal)]">
            Friends
        </a>
    </div>

    <div class="mt-4 flex flex-col gap-5 max-h-[70vh] overflow-y-auto">
        {% for i, (player, max_speed) in enumerate(ranked_players) %}
            {% if player.avatar %}
                {% set avatar = url_for("site_media", media_path=player.avatar) %}
            {% else %}
                {% set avatar = url_for("static", filename="images/default-pfp.jpg") %}
            {% endif %}

            {% if i == 0 %}
                {% set outline = "yellow-400" %}
            {% elif i == 1 %}
                {% set outline = "slate-400" %}
            {% elif i == 2 %}
                {% set outline = "yellow-700" %}
            {% else %}
                {% set outline = "transparent" %}
            {% endif %}

            {% if player == current_user %}
            <div class="ranked-player li flex flex-row items-center gap-6 border border-slate-500">
            {% else %}
            <div class="ranked-player li flex flex-row items-center gap-6">
            {% endif %}
                {% if i <= 2 %}
                    <span class="text-{{ outline }}">#{{ i + 1 }}</span>
                {% else %}
                    <span class="text-slate-500">#{{ i + 1 }}</span>
                {% endif %}

                <img
                    src="{{ avatar }}"
                    alt="{{ player.username }}'s Avatar"
                    class="w-[64px] h-[64px] rounded-full outline outline-2 outline-{{ outline }} outline-offset-2"
                    width="64px"
                    height="64px"
                />

                <div class="flex flex-col xl:flex-row xl:gap-4 items-center">
                    {% if i <= 2 %}
                        {% set underline = outline %}
                    {% else %}
                        {% set underline = "[rgb(var(--neon-blue))]" %}
                    {% endif %}

                    <a
                        class="underline underline-offset-4 decoration-{{ underline }}"
                        href="{{ url_for("auth.user_profile", user_id=player.id) }}"
                    >{{ player.username }}</a>
                    <span class="text-slate-500 text-base">{{ round(max_speed, 2) }} WPM</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}
