:root {
  --neon-blue: #4361eeff;
  --gunmetal: #262b2bff;
  --ghost-white: #fbfbffff;
  --red-munsell: #f21b3fff;
  --eerie-black: #1d2020ff;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono.ttf");
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: var(--gunmetal);
  color: var(--ghost-white);
  font-family: "Roboto Mono";
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
}

nav > div {
  margin: auto 0;
}

form {
  margin: 0 25%;
}

input {
  background: var(--eerie-black);
  border-radius: 8px;
  box-shadow: 0 3px 6px #0000006b;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

input:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 9px #0000006b;
}

input[type="submit"] {
  background: var(--eerie-black);
  padding: 10px;
  cursor: pointer;
}

.main-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: max-content;
}

.site-name {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.site-name:hover {
  color: var(--red-munsell);
}

.nav-link {
  margin: 0 7px;
  padding: 8px;
  border-radius: 8px;
  background: #00000000;
  transition: background 0.1s ease-in-out;
}

.nav-link:hover {
  background: var(--eerie-black);
}
