{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{% block title %}Change Avatar{% endblock title %}

{% block main %}
    <div class="text-center">
        <h1 class="text-2xl">Edit Profile</h1>
        <p>Change your profile's details</p>
    </div>

    <br>

    <form method="post" class="text-center" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.new_avatar) }}
        <br>
        {{ form.submit }}
    </form>
{% endblock main %}
