{% extends 'base.html' %}

{% block title %}{{ req_count }} Friend Request(s){% endblock title %}

{% block main %}
    <h1 class="text-2xl">Friend Requests</h1>

    {% if friend_reqs %}
        <form method="post" class="hidden">
            {{ form.csrf_token }}
            <input id="form-input" name="{{ form.from_id.name }}" />
        </form>

        <div class="mt-4 flex flex-col gap-5 max-h-[60vh] overflow-y-auto">
            {% for req in friend_reqs %}
                <div class="friend-request li">
                    <div class="flex flex-row items-center gap-4">
                        {% if req.from_user.avatar %}
                            {% set avatar = url_for("site_media", media_path=req.from_user.avatar) %}
                        {% else %}
                            {% set avatar = url_for("static", filename="images/default-pfp.jpg") %}
                        {% endif %}

                        <img
                            src="{{ avatar }}"
                            alt="{{ req.from_user.username }}'s Avatar"
                            class="w-[64px] h-[64px] rounded-full"
                            width="64px"
                            height="64px"
                        />

                        <div class="flex flex-col xl:flex-row xl:gap-4">
                            <a
                                class="underline underline-offset-4 decoration-[rgb(var(--neon-blue))]"
                                href="{{ url_for("auth.user_profile", user_id=req.from_user.id) }}"
                            >{{ req.from_user.username }}</a>
                            <span class="text-slate-500">
                                Sent on {{ req.timestamp.strftime("%d %B %Y") }}
                            </span>
                        </div>
                    </div>

                    <button
                        id="request-{{ req.from_id }}"
                        class="accept-btn btn bg-[rgb(var(--spring-green))] text-[var(--gunmetal)]"
                    >
                        Accept
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-slate-500">
            <p>
                You don't have any pending friend requests,
                visit another user's profile to add them as a friend.
            </p>
        </div>
    {% endif %}
{% endblock main %}

{% block bodyend %}
    <script>
        const form = document.querySelector("form");
        const form_input = document.querySelector("#form-input");

        document.querySelector(".accept-btn").onclick = (ev) => {
            let fromId = parseInt(ev.target.id.replace("request-", ""));
            form_input.value = fromId;
            form.submit();
        };
    </script>
{% endblock bodyend %}
