{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{% block title %}{{ user.username }}'s Profile{% endblock title %}

{% block main %}
    <div class="flex md:flex-row sm:flex-col justify-evenly items-center">
        <div class="xl:w-[12vw] lg:w-[16vw] sm:w-[18vw] text-center">
            <img src="{{ user_pfp }}" alt="Profile Picture" width="100%" height="100%" class="rounded-full" />
            <div class="flex flex-row mt-2 justify-center items-center gap-3">
                <span class="text-2xl">{{ user.username }}</span>
                {% if current_user == user %}
                    <a href="{{ url_for('auth.edit_profile') }}">
                        <img src="{{ pencil }}" class="h-[20px]" alt="Pencil Icon" width="20px" height="20px" />
                    </a>
                {% endif %}
            </div>
        </div>

        <div>
            <p>Total Games Played: {{ total_game_count }}</p>
            <p>Average Speed (All Time): {{ avg_speed }} WPM</p>
            <p>Average Speed (Recent): {{ avg_speed }} WPM</p>

            {% if current_user != user and current_user.is_authenticated%}
                <div class="mt-5 flex flex-col items-center text-center">
                    <!-- TODO: url for adding friends -->
                    <a class="btn bg-[rgb(var(--neon-blue))]" href="#">Add Friend</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock main %}
