{% extends 'base.html' %}

{% block title %}Chats{% endblock title %}

{% block main %}
    <h1 class="text-2xl">Chats</h1>

    {% if channels %}
        <div class="mt-4">
            {% for channel in channels %}
                <div class="chat-channel">
                    <p>{{ channel.name }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-slate-500">
            <p>
                You don't have any chats yet,
                add another user as a friend to start chatting.
            </p>
        </div>
    {% endif %}
{% endblock main %}
