{% extends 'base.html' %}

{% block title %}Chats{% endblock title %}

{% block main %}
    <h1 class="text-2xl">Chats</h1>

    {% if channels %}
        <div class="mt-4">
            {% for channel in channels %}
                <div class="chat-channel li">
                    <p class="underline underline-offset-4 decoration-[rgb(var(--neon-blue))]">
                        {% if channel.member_one == current_user %}
                            <a href="{{ url_for('chat.chat_page', user_id=channel.member_two_id) }}">
                                {{ channel.name }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('chat.chat_page', user_id=channel.member_one_id) }}">
                                {{ channel.name }}
                            </a>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-slate-500">
            <p>
                You don't have any chats yet,
                your chats with friends will appear here.
            </p>
        </div>
    {% endif %}
{% endblock main %}
