{% extends 'base.html' %}

{% block title %}
    Chat with {{ user.username }}
{% endblock title %}
    
{% block head %}
    <script src="{{ socket_io }}"></script>
    <script>
        const myId = {{ current_user.id }};
        const channelId = {{ channel.id }};
    </script>
{% endblock head %}

{% block main %}
    <template id="msg-template">
        <div id="msg-0" class="message flex flex-col justify-start" dir="ltr">
            <div class="flex flex-row items-center gap-3">
                <img 
                    width=40 height=40
                    class="rounded-full"
                    src="{{ url_for('static' , filename='images/default-pfp.jpg') }}"
                />
                <p class="text-slate-500 text-sm">
                    <b><span class="msg-author">John Doe</span></b>
                    <br>
                    <span class="msg-timestamp" dir="ltr">
                        12:00 AM on 01 Jan 1970
                    </span>
                </p>
            </div>

            <p class="ms-[50px]">
                <span dir="ltr" class="msg-content">Hello, world!</span>
            </p>
        </div>
    </template>

    <h1 class="text-2xl">Chat with {{ user.username }}</h1>

    <div id="msg-box" class="bg-[var(--night)] p-4 my-3 rounded-lg flex flex-col gap-2 max-h-[60vh] overflow-y-auto">
        {% for msg in messages %}
            {% if msg.author == current_user %}
                {% set dir = "rtl" %}
            {% else %}
                {% set dir = "ltr" %}
            {% endif %}

            {% if msg.author.avatar %}
                {% set author_avatar = url_for("site_media", media_path=msg.author.avatar) %}
            {% else %}
                {% set author_avatar = url_for("static", filename="images/default-pfp.jpg") %}
            {% endif %}

            <div id="msg-{{ msg.id }}" class="message flex flex-col justify-start" dir={{ dir }}>
                <div class="flex flex-row items-center gap-3">
                    <img 
                        width=40 height=40
                        class="rounded-full"
                        src="{{ author_avatar }}"
                    />
                    <p class="text-slate-500 text-sm">
                        <b><span class="msg-author">{{ msg.author.username }}</span></b>
                        <br>
                        <span class="msg-timestamp" dir="ltr">
                            {{ msg.timestamp.strftime("%I:%M %p on %m %b %Y") }}
                        </span>
                    </p>
                </div>

                <p class="msg-content ms-[50px]">
                    <span dir="ltr">{{ msg.content }}</span>
                </p>
            </div>
        {% endfor %}
    </div>

    <div class="grid grid-cols-6 gap-3">
        <input id="send-input" class="col-span-5 px-3" type="text" placeholder="Type Message..." />
        <button id="send-btn" type="submit" class="btn bg-[rgb(var(--neon-blue))]">Send</button>
    </div>

{% endblock main %}

{% block bodyend %}
    <script src="{{ chat_script }}"></script>
{% endblock bodyend %}
